<!DOCTYPE html>
<html>
<head>
    <title>Valet Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
            <h2><%= prompt%></h2>
            <form action="login" method="POST">
                <div>
                    <input type="text" name="username" placeholder="username">
                </div>
                <div>
                    <input type="text" name="password" placeholder="password">
                </div>
                <select name="usertype" id="usertype">
                    <option value="user">I am an user</option>
                    <option value="driver">I am a driver</option>
                </select>
                <%if (has_redirect) {%>
                    <input type="hidden" name="redirect" value='<%= redirect_target%>'>
                <%} %>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html> 
