<!DOCTYPE html>
<html>
<head>
    <title>Valet Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>Please Sign In</h2>
        <input type="email" placeholder="email"/>
        <input type="password" placeholder="password"/>
        <div class="checkbox">
            <input type="checkbox" id="userCheckbox">
            <label for="userCheckbox">I am an User.</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="driverCheckbox">
            <label for="driverCheckbox">I am an Driver.</label>
        </div>
        <button class="login_button">Login</button>
    </div>
</div>
</body>
</html>


